header {
	background: #002337;
	color: #fff;
	padding: 10px 0;
	
	#logo {
		height: 30px;
	}
	
	.navbar-toggler {
		color: #fff;
		width: 60px;
		float: right;
	}
	
	.navbar-nav {
		margin: 5px 0;
		
		li {
			text-transform: uppercase;
			display: inline;
			padding: 0 10px;
			
			a {
				color: #fff;
				font-size: 14px;
				
				&:hover {
					transition: color 0.1s linear;
					color: #fdc300;
					text-decoration: none;
				}
			}
		}
	}
	
	#changeVersion {
		background-color: #002337;
		border: 1px solid lighten(#002337, 10%);
		color: #fff;
		padding: 5px;
		margin: 2px;
		
		option[disabled] {
			display: none;
		}
	}
}