<p> Read-only parameters such as a resource's ID field are to be omitted. </p>
<p>The request body takes a
<a href="[: $.SpecPath :]/resources/[: .Method.BodyParam.Resource.ID :]">[: .Method.BodyParam.Resource.Title :] resource</a>,
containing the following writable properties:</p>

[: if .Method.BodyParam.Resource.Example :]
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#payloadExample" data-toggle="tab">Example</a>
		</li>
		<li>
			<a href="#payloadSchema" data-toggle="tab">Schema</a>
		</li>
	</ul>
	<div class="tab-content clearfix">
		<div class="tab-pane active" id="payloadExample">
			<pre><code>[: .Method.BodyParam.Resource.Example :]</code></pre>
		</div>
		<div class="tab-pane" id="payloadSchema">
			<pre><code>[: .Method.BodyParam.Resource.Schema :]</code></pre>
		</div>
	</div>
[: else :]
	<pre><code>[: .Method.BodyParam.Resource.Schema :]</code></pre>
[: end :]

<h3 class="sub-sub-header">Properties</h3>
[: template "fragments/reference/resource_table" .Method.BodyParam :]
