{
  "swagger": "2.0",
  "x-navigateMethodsByName": true,
  "info": {
    "description": "This is the Gambio GX Restful API documentation for the GX shop software. You can find out more about Gambio at [http://www.gambio.de](http://www.gambio.de).",
    "version": "2.0",
    "title": "API v2"
  },
  "host": "gambio-shop.de",
  "basePath": "/shop1/api.php/v2",
  "tags": [
    {
      "name": "address_formats",
      "description": "Address Formats"
    },
    {
      "name": "addresses",
      "description": "Addresses"
    },
    {
      "name": "attachments",
      "description": "Attachments"
    },
    {
      "name": "cache",
      "description": "Cache"
    },
    {
      "name": "category_icons",
      "description": "Category Icons"
    },
    {
      "name": "category_images",
      "description": "Category Images"
    },
    {
      "name": "countries",
      "description": "Countries"
    },
    {
      "name": "cronjobs",
      "description": "Cronjobs"
    },
    {
      "name": "customer_groups",
      "description": "Customer Groups"
    },
    {
      "name": "customers",
      "description": "Customers"
    },
    {
      "name": "emails",
      "description": "Emails"
    },
    {
      "name": "languages",
      "description": "Languages"
    },
    {
      "name": "manufacturers",
      "description": "Manufacturers"
    },
    {
      "name": "order_statuses",
      "description": "Order Statuses"
    },
    {
      "name": "orders",
      "description": "Orders"
    },
    {
      "name": "orders_history",
      "description": "Orders History"
    },
    {
      "name": "parcel_services",
      "description": "Parcel Services"
    },
    {
      "name": "payment_details",
      "description": "Payment Details"
    },
    {
      "name": "product_images",
      "description": "Product Images"
    },
    {
      "name": "product_prices",
      "description": "Product Prices"
    },
    {
      "name": "products",
      "description": "Products"
    },
    {
      "name": "quantity_units",
      "description": "Quantity Units"
    },
    {
      "name": "reviews",
      "description": "Reviews"
    },
    {
      "name": "shop_information",
      "description": "Shop Information"
    },
    {
      "name": "special_offers",
      "description": "Special Offers"
    },
    {
      "name": "tax",
      "description": "Tax"
    },
    {
      "name": "tracking_code",
      "description": "Tracking Code"
    },
    {
      "name": "tracking_codes",
      "description": "Tracking Codes"
    },
    {
      "name": "vpe",
      "description": "Vpe"
    },
    {
      "name": "withdrawal",
      "description": "Withdrawal"
    },
    {
      "name": "zones",
      "description": "Zones"
    },
    {
      "name": "categories",
      "description": "Categories"
    }
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/address_formats": {
      "get": {
        "tags": [
          "address_formats"
        ],
        "summary": "Get Address Formats",
        "description": "Get all address formats or a single address format.",
        "operationId": "getAddressFormats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of address formats",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXAddressFormat"
              }
            }
          },
          "400": {
            "description": "(Invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Address Format Not Found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/addresses/{address_id}": {
      "delete": {
        "tags": [
          "addresses"
        ],
        "summary": "Delete Address",
        "description": "Remove an address record from the system. This method will always return success even if the address record does not exist (due to internal architecture decisions, which strive to avoid unnecessary failures).",
        "operationId": "deleteAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "description": "The ID of the address to be removed",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the deleted addressID",
            "schema": {
              "$ref": "#/definitions/addressDeleteResponse"
            }
          },
          "400": {
            "description": "(Address record ID not provided)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "Get Address (Single)",
        "description": "Get a single address record through a GET requets. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation.",
        "operationId": "getAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "description": "The ID of the address to fetch",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the address that was fetched",
            "schema": {
              "$ref": "#/definitions/GXAddress"
            }
          },
          "404": {
            "description": "(Invalid address ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "addresses"
        ],
        "summary": "Update Address",
        "description": "Update an existing address record by providing new data. You do not have to provide the full presentation of the address in the JSON string of the request, rather just the fields to be updated. The address ID will be taken from the URI of the request so it is not required that it is included withing the request JSON.",
        "operationId": "updateAddress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "description": "The ID of the address to be updated",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated address",
            "schema": {
              "$ref": "#/definitions/GXAddress"
            }
          }
        }
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "Get Addresses (Multiple)",
        "description": "Get multiple address records through a GET request. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation.",
        "operationId": "getAddresses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the address that was fetched",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXAddress"
              }
            }
          },
          "404": {
            "description": "(Invalid address ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "addresses"
        ],
        "summary": "Create Address",
        "description": "Create an address record for a customer in the system.",
        "operationId": "createAddress",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "body",
            "description": "The address to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the newly created address",
            "schema": {
              "$ref": "#/definitions/GXCustomer"
            }
          },
          "400": {
            "description": "(Address data was not provided)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/attachments": {
      "post": {
        "tags": [
          "attachments"
        ],
        "summary": "Upload Attachment",
        "description": "If an email contains an attachment this must be uploaded before the email is sent. This method accepts the upload of one file at a time. It will return its temporary path which can be used as the attachment path in the email JSON data. The name of the file form field is not taken into concern (can be whatever). The important rule is that only one file will be uploaded at a time and that you are sending the Content-Type: multipart/form-data header instead of application/json.",
        "operationId": "uploadAttachments",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "upload_attachment",
            "type": "file",
            "required": true,
            "description": "The attachment to upload"
          },
          {
            "in": "formData",
            "name": "filename",
            "type": "string",
            "required": true,
            "description": "The final filename"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the default success response with the attachment path",
            "schema": {
              "$ref": "#/definitions/attachmentSuccessExample"
            }
          },
          "400": {
            "description": "(No attachment file was provided)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/cache": {
      "delete": {
        "tags": [
          "cache"
        ],
        "summary": "Clear Shop Cache",
        "description": "Clear the shop cache with a DELETE request.",
        "operationId": "deleteCache",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithFilename"
            }
          }
        }
      }
    },
    "/category_icons": {
      "delete": {
        "tags": [
          "category_icons"
        ],
        "summary": "Delete Category Icon",
        "description": "Removes the category icon file from the server. This method will always provide a successful response even if the image file was not found.",
        "operationId": "deleteCategoryIcon",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the deleted filename",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithFilename"
            }
          },
          "400": {
            "description": "(Missing parameters / Empty request body)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "category_icons"
        ],
        "summary": "Get Category Icons",
        "description": "Returns a list of all category icon files which exists in the servers filesystem through a GET request.",
        "operationId": "getCategoryIcons",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of filenames",
            "schema": {
              "$ref": "#/definitions/categoryIconGetResponse"
            }
          },
          "400": {
            "description": "(No category icons)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "category_icons"
        ],
        "summary": "Upload Category Icon",
        "description": "Upload an icon image for the categories. Make sure this request with Content-Type: multipart/form-data header instead of application/json. Except from the file the POST request must also contain a \"filename\" value with the final filename.",
        "operationId": "uploadCategoryIcons",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "uploaded_file",
            "type": "file",
            "description": "The icon to upload"
          },
          {
            "in": "formData",
            "name": "filenae",
            "type": "string",
            "description": "The final filename"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the default success response with the filename",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithFilename"
            }
          },
          "400": {
            "description": "(No filename)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "category_icons"
        ],
        "summary": "Rename Icon File",
        "description": "Use this method to rename an existing icon file.",
        "operationId": "putCategoryIcons",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the updated filename",
            "schema": {
              "$ref": "#/definitions/defaultUpdateResponseWithFilenames"
            }
          },
          "400": {
            "description": "(Missing parameters)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/category_images": {
      "delete": {
        "tags": [
          "category_images"
        ],
        "summary": "Delete Category Image",
        "description": "Removes the category image file from the server. This method will always provide a successful response even if the image file was not found.",
        "operationId": "deleteCategoryImages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the deleted filename",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithFilename"
            }
          },
          "400": {
            "description": "(Missing parameter)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "category_images"
        ],
        "summary": "Get Category Images",
        "description": "Get a list of all category image files which exists in the server's filesystem through a GET request.",
        "operationId": "getCategoryImages",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of filenames",
            "schema": {
              "$ref": "#/definitions/categoryImageGetResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "category_images"
        ],
        "summary": "Upload Category Image",
        "description": "Uploads an icon image for the categories. Make sure this request with Content-Type: multipart/form-data header instead of application/json. Except from the file the POST request must also contain a \"filename\" value with the final filename.",
        "operationId": "uploadCategoryImages",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "upload_category_image",
            "type": "file",
            "required": true,
            "description": "The category image to upload"
          },
          {
            "in": "formData",
            "name": "filename",
            "type": "string",
            "required": true,
            "description": "The final filename"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the default success response with the newly uploaded filename",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithFilename"
            }
          },
          "400": {
            "description": "(Missing filename parameter)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "category_images"
        ],
        "summary": "Rename Image File",
        "description": "Use this method to rename an existing image file.",
        "operationId": "renameCategoryImages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the renamed filename",
            "schema": {
              "$ref": "#/definitions/defaultUpdateResponseWithFilenames"
            }
          },
          "400": {
            "description": "(Missing parameters)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/countries/{country_id}": {
      "get": {
        "tags": [
          "countries"
        ],
        "summary": "Get Countries (Single)",
        "description": "Get a single country. This method is currently limited to only fetching a single country resource so make sure that you provide the country ID in the request URI.",
        "operationId": "getCountries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "The country ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the country resource.",
            "schema": {
              "$ref": "#/definitions/GXCountry"
            }
          },
          "500": {
            "description": "(Country not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "501": {
            "description": "(The ID is missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/countries/{country_id}/zones": {
      "get": {
        "tags": [
          "countries"
        ],
        "summary": "Get Countries Zones",
        "description": "Get a single countrys zones. This method is currently limited to only fetching a single countrys zone resource so make sure that you provide the country ID in the request URI.",
        "operationId": "getCountriesZones",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "The country ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of country zone resources.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXCountryZone"
              }
            }
          },
          "500": {
            "description": "(Country not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "501": {
            "description": "(The ID is missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/cronjobs/image_processing": {
      "post": {
        "tags": [
          "cronjobs"
        ],
        "summary": "Set ImageProcessing Trigger",
        "description": "Set a trigger for the ImageProcessing cronjob to regenerate the product images using a POST request.",
        "operationId": "setImageProcessingTrigger",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithFilename"
            }
          },
          "400": {
            "description": "(Cronjob data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/customer_groups/{customer_group_id}": {
      "delete": {
        "tags": [
          "customer_groups"
        ],
        "summary": "Delete Customer Groups",
        "description": "Removes a customer groups record from the system. This method will always return success even if the customer group does not exist.",
        "operationId": "deleteCustomerGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_group_id",
            "in": "path",
            "description": "Customer Group ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the customer group ID that was deleted",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithCustomerGroupID"
            }
          },
          "400": {
            "description": "(Customer group ID invalid)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "customer_groups"
        ],
        "summary": "Get customer groups",
        "description": "Get multiple or a single customer groups record through the GET method",
        "operationId": "getCustomerGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_group_id",
            "in": "path",
            "description": "The customer group ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of customer groups",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXCustomerGroup"
              }
            }
          },
          "400": {
            "description": "(Missing or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(CustomerGroups Not Found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "customer_groups"
        ],
        "summary": "Updates CustomerGroup entity",
        "description": "Use this method if you want to update an existing customer groups record.",
        "operationId": "updateCustomerGroups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_group_id",
            "in": "path",
            "description": "The customer group ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXCustomerGroup",
            "in": "body",
            "description": "The customer group",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXCustomerGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated customer group",
            "schema": {
              "$ref": "#/definitions/GXCustomerGroup"
            }
          },
          "400": {
            "description": "(Missing or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Entity not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/customer_groups": {
      "post": {
        "tags": [
          "customer_groups"
        ],
        "summary": "Create CustomerGroups",
        "description": "This method enables the creation of a new CustomerGroups into the system.",
        "operationId": "createCustomerGroup",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GXCustomerGroup",
            "in": "body",
            "description": "The customer group",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXCustomerGroup"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the newly created customer group",
            "schema": {
              "$ref": "#/definitions/GXCustomerGroup"
            }
          },
          "400": {
            "description": "(Failed to create customer group)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/customers/{customer_ids}": {
      "delete": {
        "tags": [
          "customers"
        ],
        "summary": "Delete Customers",
        "description": "Removes customer records from the system. This method will always return success even if the customers do not exist (due to internal CustomerWriteService architecture decisions, which strive to avoid unnecessary failures). An example script to demonstrate how to delete a customer is located under `./docs/REST/samples/customer-service/remove_account.php` in the git clone.",
        "operationId": "deleteCustomers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_ids",
            "in": "path",
            "description": "A comma-seperated list of customer IDs to delete",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the deleted customer IDs",
            "schema": {
              "$ref": "#/definitions/customerArrayDeleteResponse"
            }
          },
          "400": {
            "description": "(customer ID missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "customers"
        ],
        "summary": "Get Customers",
        "description": "Get customer records through the GET method. This resource supports the following GET parameters as described in the first section of documentation: sorting minimization, search, pagination and links. Additionally you can filter customers by providing the GET parameter \"type=guest\" or \"type=registree\". Sort and pagination GET parameters do not apply when a single customer record is selected (e.g. api.php/v2/customers/84). An example script to demonstrate how to fetch customer data is located under `./docs/REST/samples/customer-service/get_admin_data.php` in the git clone **Important**: Currently the CustomerReadService does not support searching in address information of a customer.",
        "operationId": "getCustomers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/changed"
          },
          {
            "$ref": "#/parameters/modified"
          },
          {
            "$ref": "#/parameters/deleted"
          },
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the an array of customers.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXCustomer"
              }
            }
          },
          "400": {
            "description": "(Invalid Type Filter)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Customer Not Found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "customers"
        ],
        "summary": "Create Customers",
        "description": "This method enables the creation of new customers (whether registree or a guest). Additionally the user can provide new address information or just set the id of an existing one. Check the examples bellow. An example script to demonstrate the creation of a new customer is located under `./docs/REST/samples/customer-service/create_account.php` in the git clone, another one to demonstrate the creation of a guest customer is located under `./docs/REST/samples/customer-service/create_guest_account.php`.",
        "operationId": "createCustomers",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GXCustomerArray",
            "in": "body",
            "description": "An array of customers",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXCustomerArray"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the customer that was created",
            "schema": {
              "$ref": "#/definitions/customerArrayPostResponse"
            }
          },
          "400": {
            "description": "(Customer data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "409": {
            "description": "(Registree email already exists)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "customers"
        ],
        "summary": "Update Customers (Multiple)",
        "description": "Use this method to update multiple existing customer records. It takes an array of GXCustomer Objects, identified by their <b>id</b> property.",
        "operationId": "updateCustomers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GXCustomerArray",
            "in": "body",
            "description": "An array of products to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXCustomerArray"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of the updated customers",
            "schema": {
              "$ref": "#/definitions/customerArrayPutResponse"
            }
          },
          "400": {
            "description": "(Missing data or ID invalid)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "tags": [
          "customers"
        ],
        "summary": "Get Customer (Single)",
        "description": "Get a single customer record through the GET method. This resource supports the following GET parameters as described in the first section of documentation: sorting minimization, search, pagination and links. Additionally you can filter customers by providing the GET parameter \"type=guest\" or \"type=registree\". Sort and pagination GET parameters do not apply when a single customer record is selected (e.g. api.php/v2/customers/84). An example script to demonstrate how to fetch customer data is located under `./docs/REST/samples/customer-service/get_admin_data.php` in the git clone **Important**: Currently the CustomerReadService does not support searching in address information of a customer.",
        "operationId": "getCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The customer ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the customer with the provided ID",
            "schema": {
              "$ref": "#/definitions/GXCustomer"
            }
          },
          "400": {
            "description": "(Invalid Type Filter)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Customer Not Found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "customers"
        ],
        "summary": "Update Customer",
        "description": "This method will update the information of an existing customer record. You will need to provide all the customer information with the request (except from password and customer id). Also note that you only have to include the \"addressId\" property. An example script to demonstrate how to update the admin accounts telephone number is located under `./docs/REST/samples/customer-service/update_admin_telephone.php` in the git clone.",
        "operationId": "updateCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The customer ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated customer",
            "schema": {
              "$ref": "#/definitions/GXCustomer"
            }
          },
          "400": {
            "description": "(Customer data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Customer not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "409": {
            "description": "(Customer email already exists)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/customers/search": {
      "post": {
        "tags": [
          "customers"
        ],
        "summary": "Search Customers",
        "description": "Returns multiple customers that are respecting the given search condition. Further information about defining a search condition can be found in the <a href=\"/gambio-gx3-api/guides/search-example\">Search Example</a>.",
        "operationId": "searchCustomer",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SearchCondition",
            "in": "body",
            "description": "The search condition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchCondition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of customers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXCustomer"
              }
            }
          }
        }
      }
    },
    "/emails/{email_id}": {
      "delete": {
        "tags": [
          "emails"
        ],
        "summary": "Delete Email",
        "description": "Delete an email record from database. To see an example usage take a look at `docs/REST/samples/email-service/remove_email.php`.",
        "operationId": "deleteEmail",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "description": "The email ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the deleted ID",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithEmailID"
            }
          },
          "400": {
            "description": "(Customer ID missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "emails"
        ],
        "summary": "Get Emails",
        "description": "Get a single email record through the GET method. This resource supports the following GET parameters as described in the first section of documentation: sorting minimization, search, pagination. Additionally you can filter emails by providing the GET parameter \"state=pending\" or \"state=sent\". These filter parameters do not apply when a single emails record is selected (e.g. api.php/v2/emails/84) or when the emails are searched by the \"q\" parameter. To see an example usage take a look at `docs/REST/samples/email-service/fetch_email.php`",
        "operationId": "getEmails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "description": "The email ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an email",
            "schema": {
              "$ref": "#/definitions/GXCustomerEmail"
            }
          },
          "400": {
            "description": "(Invalid Type Filter)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Customer Not Found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "emails"
        ],
        "summary": "Send Email",
        "description": "This method will send and save a new or an existing email to the system. If you include mail attachments then they must already exist in the server. You will need to provide the full path to the file. To see an example usage take a look at `docs/REST/samples/email-service/send_email.php`",
        "operationId": "sendEmail",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "description": "The email ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXCustomerEmail",
            "in": "body",
            "description": "The email",
            "required": false,
            "schema": {
              "$ref": "#/definitions/GXCustomerEmail"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the email send",
            "schema": {
              "$ref": "#/definitions/GXCustomerEmail"
            }
          },
          "400": {
            "description": "(Email data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Email record not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/emails": {
      "put": {
        "tags": [
          "emails"
        ],
        "summary": "Queue Email",
        "description": "This method will queue a new email so that it can be send later (with the POST method). See the \"post\" method for parameter description. To see an example usage take a look at `docs/REST/samples/email-service/queue_email.php`",
        "operationId": "queueEmail",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GXCustomerEmail",
            "in": "body",
            "description": "The email",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXCustomerEmail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the email that was queued.",
            "schema": {
              "$ref": "#/definitions/GXCustomerEmail"
            }
          },
          "400": {
            "description": "(Email data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/languages": {
      "get": {
        "tags": [
          "languages"
        ],
        "summary": "Get Languages (Multiple)",
        "description": "Get multiple languages record through the GET method",
        "operationId": "getMultipleLanguages",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of languages",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Languages"
              }
            }
          }
        }
      }
    },
    "/manufacturers/{manufacturer_id}": {
      "delete": {
        "tags": [
          "manufacturers"
        ],
        "summary": "Delete Manufacturers",
        "description": "Removes a manufacturers record from the system. This method will always return success even if the manufacturers does not exist (due to internal ManufacturersWriteService architecture decisions, which strive to avoid unnecessary failures).",
        "operationId": "deleteManufacturers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "manufacturer_id",
            "in": "path",
            "description": "The manufacturers ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the deleted manufacturer ID",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithManufacturersID"
            }
          },
          "500": {
            "description": "(Manufacturer ID missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "manufacturers"
        ],
        "summary": "Get Manufacturers",
        "description": "Get a single manufacturers record through the GET method",
        "operationId": "getManufacturer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "manufacturer_id",
            "in": "path",
            "description": "The manufacturers ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns a manufacturers",
            "schema": {
              "$ref": "#/definitions/GXManufacturer"
            }
          },
          "400": {
            "description": "(Missing or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Manufacturers Not Found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "manufacturers"
        ],
        "summary": "Updates Manufacturers",
        "description": "Use this method if you want to update an existing manufacturers record.",
        "operationId": "updateManufacturers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "manufacturer_id",
            "in": "path",
            "description": "The manufacturer ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXManufacturer",
            "in": "body",
            "description": "The manufacturer",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXManufacturer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated manufacturer",
            "schema": {
              "$ref": "#/definitions/GXManufacturer"
            }
          },
          "400": {
            "description": "(Missing manufacturer data)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Manufacturer not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "500": {
            "description": "(Missing or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/manufacturers": {
      "get": {
        "tags": [
          "manufacturers"
        ],
        "summary": "Get Manufacturers (Multiple)",
        "description": "Get multiple manufacturers record through the GET method",
        "operationId": "getMultipleManufacturers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of manufacturers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXManufacturer"
              }
            }
          },
          "400": {
            "description": "(Missing or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Manufacturers Not Found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "manufacturers"
        ],
        "summary": "Create Manufacturers",
        "description": "This method enables the creation of a new Manufacturers into the system.",
        "operationId": "createManufacturers",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GXManufacturer",
            "in": "body",
            "description": "The manufacturer",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXManufacturer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the created manufacturer",
            "schema": {
              "$ref": "#/definitions/GXManufacturer"
            }
          },
          "400": {
            "description": "(Manufacturer data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/manufacturers/search": {
      "post": {
        "tags": [
          "manufacturers"
        ],
        "summary": "Search Manufacturers",
        "description": "Returns multiple manufacturers that are respecting the given search condition. Further information about defining a search condition can be found in the <a href=\"/gambio-gx3-api/guides/search-example\">Search Example</a>.",
        "operationId": "searchManufacturers",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SearchCondition",
            "in": "body",
            "description": "The search condition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchCondition"
            }
          },
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of categories",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXCategory"
              }
            }
          }
        }
      }
    },
    "/order_statuses/{order_status_id}": {
      "delete": {
        "tags": [
          "order_statuses"
        ],
        "summary": "Delete Order Status",
        "description": "Removes a order status record from the system. This method will always return success.",
        "operationId": "deleteOrderStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_status_id",
            "in": "path",
            "description": "The order status ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the order status ID that was deleted",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithOrderStatusID"
            }
          },
          "400": {
            "description": "(Order status ID invalid)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "order_statuses"
        ],
        "summary": "Get order statuses (Single)",
        "description": "Get a single order status entries.",
        "operationId": "getOrderStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_status_id",
            "in": "path",
            "description": "The order status ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an order status",
            "schema": {
              "$ref": "#/definitions/GXOrderStatus"
            }
          },
          "400": {
            "description": "(Order status ID invalid)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "order_statuses"
        ],
        "summary": "Update Order Status",
        "description": "This method updates a order status in the database.",
        "operationId": "updateOrderStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_status_id",
            "in": "path",
            "description": "The order status ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrderStatus",
            "in": "body",
            "description": "The order status",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderStatus"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the updated order status",
            "schema": {
              "$ref": "#/definitions/GXOrderStatus"
            }
          },
          "400": {
            "description": "(Order status ID invalid or missing data)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/order_statuses": {
      "get": {
        "tags": [
          "order_statuses"
        ],
        "summary": "Get order statuses (Multiple)",
        "description": "Get a multiple order status entries.",
        "operationId": "getOrderStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of order statuses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrderStatus"
              }
            }
          },
          "400": {
            "description": "(Order status ID invalid)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "order_statuses"
        ],
        "summary": "Create Order Status",
        "description": "This method creates a new order status in the database.",
        "operationId": "createOrderStatuses",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GXOrderStatus",
            "in": "body",
            "description": "The order status",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderStatus"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the order status that was created",
            "schema": {
              "$ref": "#/definitions/GXOrderStatus"
            }
          },
          "400": {
            "description": "(Order status data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}": {
      "delete": {
        "tags": [
          "orders"
        ],
        "summary": "Delete Order",
        "description": "Remove an entire Order record from the database. This method will also remove the order-items along with their attributes and the order-total records. To see an example usage take a look at `docs/REST/samples/order-service/remove_order.php`",
        "operationId": "deleteOrders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the order ID",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithOrderID"
            }
          },
          "400": {
            "description": "(Order ID missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order (Single)",
        "description": "Get a single order record through a GET request. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation. Important: Whenever you make requests that will return multiple orders the response will contain a smaller version of each order record called order-list-item. This is done for better performance because the creation of a complete order record takes significant time (many objects are involved). If you still need the complete data of an order record you will have to make an extra GET request with the ID provided.",
        "operationId": "getOrders",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the order resource",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrder"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "orders"
        ],
        "summary": "Update Order",
        "description": "Use this method to update an existing order record. It uses the complete order JSON resource so it might be useful to fetch it through a GET request, alter its values and PUT it back in order to perform the update operation. Take a look in the POST method for more detailed explanation on every resource property. To see an example usage take a look at `docs/REST/samples/order-service/update_order.php`",
        "operationId": "updateOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated order",
            "schema": {
              "$ref": "#/definitions/GXOrder"
            }
          },
          "400": {
            "description": "(Missing data or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/items/{item_id}": {
      "delete": {
        "tags": [
          "orders"
        ],
        "summary": "Delete Order Item",
        "description": "Use this method to remove an order item from an existing order.",
        "operationId": "deleteOrderItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with order and item ID",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithOrderIDAndOrderItemID"
            }
          },
          "400": {
            "description": "(Missing ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Item not found inside the order)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Item (Single)",
        "description": "Get a single order item from an existing order. All the GET manipulation parameters are applied with this method (search, sort, minimize, paginate etc).",
        "operationId": "getOrderItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns a single order item",
            "schema": {
              "$ref": "#/definitions/GXOrderItem"
            }
          }
        }
      },
      "put": {
        "tags": [
          "orders"
        ],
        "summary": "Update Order Item",
        "description": "Use this method to update an existing order item. Use the same order item JSON format as in the POST method.",
        "operationId": "updateOrderItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrderItem",
            "in": "body",
            "description": "The order item",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated orders items",
            "schema": {
              "$ref": "#/definitions/GXOrderItem"
            }
          },
          "400": {
            "description": "(Missing data or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Order item ID does not exist in given order)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/items/{item_id}/attributes/{attribute_id}/Property": {
      "delete": {
        "tags": [
          "orders"
        ],
        "summary": "Delete Order Item Attribute/Property",
        "description": "Removes a single order item attribute/property entry from an existing order item record.",
        "operationId": "removeOrdersItemsAttribute",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "attribute_id",
            "in": "path",
            "description": "The attribute ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the relevant IDs",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithOrderIDAndOrderItemIDAndOrderItemAttributeID"
            }
          },
          "400": {
            "description": "(Missing ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Item Attribute/Property (Single)",
        "description": "Returns single order item attribute/property record through a GET request. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation.",
        "operationId": "getOrdersItemsAttributeProperty",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "attribute_id",
            "in": "path",
            "description": "The attribute ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the order items attributes",
            "schema": {
              "$ref": "#/definitions/GXOrderItemAttributes"
            }
          }
        }
      },
      "put": {
        "tags": [
          "orders"
        ],
        "summary": "Update Order Item Attribute/Property",
        "description": "Use this method to update an existing order item attribute record. It uses the same attribute JSON format as in the \"Create Order Item Attribute\" method.",
        "operationId": "updateOrdersItemsAttributesProperty",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "attribute_id",
            "in": "path",
            "description": "The attribute ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrderItemAttributes",
            "in": "body",
            "description": "The order item attributes",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderItemAttributes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated order item attributes",
            "schema": {
              "$ref": "#/definitions/GXOrderItemAttributes"
            }
          },
          "400": {
            "description": "(Missing data or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/totals/{total_id}": {
      "delete": {
        "tags": [
          "orders"
        ],
        "summary": "Delete Order Total",
        "description": "Use this method to remove an order total from an existing order.",
        "operationId": "deleteOrderTotals",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "total_id",
            "in": "path",
            "description": "The total ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the default success response with the order and order total ID",
            "schema": {
              "$ref": "#/definitions/defaultSuccessResponseWithOrderIDAndOrderTotalID"
            }
          },
          "400": {
            "description": "(Order total ID missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Order total ID does not exist in given order)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "orders"
        ],
        "summary": "Update Order Total",
        "description": "Use this method to update an existing order total. Use the same order total JSON format as in the POST method.",
        "operationId": "updateOrderTotal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "total_id",
            "in": "path",
            "description": "The total ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrder",
            "in": "body",
            "description": "The order",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderTotal"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated order totals",
            "schema": {
              "$ref": "#/definitions/GXOrderTotal"
            }
          },
          "400": {
            "description": "(Missing data or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          },
          "404": {
            "description": "(Provided order total not found)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Orders (Multiple)",
        "description": "Get multiple order list item records through a GET request. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation. Important: Whenever you make requests that will return multiple orders the response will contain a smaller version of each order record called order-list-item. This is done for better performance because the creation of a complete order record takes significant time (many objects are involved). If you still need the complete data of an order record you will have to make an extra GET request with the ID provided.",
        "operationId": "getOrdersMultiple",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/changed"
          },
          {
            "$ref": "#/parameters/modified"
          },
          {
            "$ref": "#/parameters/deleted"
          },
          {
            "$ref": "#/parameters/per_page"
          },
          {
            "$ref": "#/parameters/page"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/search"
          },
          {
            "$ref": "#/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the order list item resources",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrderListItem"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Order",
        "description": "This method enables the creation of a new order into the system. The order can be bound to an existing customer or be standalone as implemented in the OrderService. Make sure that you check the Order resource representation. To see an example usage take a look at `docs/REST/samples/order-service/create_order.php`.",
        "operationId": "createOrder",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GXOrder",
            "in": "body",
            "description": "The order",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrder"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the order that was created",
            "schema": {
              "$ref": "#/definitions/GXOrder"
            }
          },
          "400": {
            "description": "(Order data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/history": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order History (Multiple)",
        "description": "Returns multiple order status history records. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation.",
        "operationId": "getOrderHistories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of Order Histories",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrderStatusHistory"
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/history/{history_id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order History (Single)",
        "description": "Returns multiple or a single order status history records. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation.",
        "operationId": "getOrderHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "history_id",
            "in": "path",
            "description": "The history ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns a single Order History",
            "schema": {
              "$ref": "#/definitions/GXOrderStatusHistory"
            }
          }
        }
      }
    },
    "/orders/{order_id}/items": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Items (Multiple)",
        "description": "Get multiple order items from an existing order. All the GET manipulation parameters are applied with this method (search, sort, minimize, paginate etc).",
        "operationId": "getOrderItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns a an array of order items",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrderItem"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Order Item",
        "description": "Use this method to create a new order item to an existing order. The order item JSON format must be the same with the \"items\" entries in the original order item.",
        "operationId": "createOrderItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrderItem",
            "in": "body",
            "description": "The order item",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderItem"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the created order item",
            "schema": {
              "$ref": "#/definitions/GXOrderItem"
            }
          },
          "400": {
            "description": "(Order Item data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/items/{item_id}/attributes/Property": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Item Attributes/Properties (Multiple)",
        "description": "Returns multiple order item attribute/property records through a GET request. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation.",
        "operationId": "getOrdersItemsAttributesProperty",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of attributes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrderItemAttributes"
              }
            }
          }
        }
      }
    },
    "/orders/{order_id}/payment_details": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Payment Details",
        "description": "Get the payment details for a specific order record through a GET request. This method supports all the GET parameters that are mentioned in the \"Introduction\" section of this documentation.",
        "operationId": "getOrderPaymentDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the payment details of the order resource",
            "schema": {
              "$ref": "#/definitions/GXPaymentDetails"
            }
          }
        }
      }
    },
    "/orders/{order_id}/totals": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Totals (Multiple)",
        "description": "Returns all single order totals from an existing order. All the GET manipulation parameters are applied with this method (search, sort, minimize, paginate etc).",
        "operationId": "getOrderTotals",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns one or many order totals",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrderTotal"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Order Total",
        "description": "Creates a new order total entry to the existing order. The order total JSON format must be the same with the \"totals\" entries in the original order total.",
        "operationId": "createOrderTotal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrderTotal",
            "in": "body",
            "description": "The order total",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderTotal"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the order total",
            "schema": {
              "$ref": "#/definitions/GXOrderTotal"
            }
          },
          "400": {
            "description": "(Order total data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/totals/{totals_id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Total",
        "description": "Returns a single order total from an existing order. All the GET manipulation parameters are applied with this method (search, sort, minimize, paginate etc).",
        "operationId": "getOrderTotal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "totals_id",
            "in": "path",
            "description": "The totals ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns one order total",
            "schema": {
              "$ref": "#/definitions/GXOrderTotal"
            }
          }
        }
      }
    },
    "/orders/{order_id}/tracking_code": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Tracking Codes (Multiple) (deprecated)",
        "description": "Get an array of all tracking code records of an order through the GET method.",
        "operationId": "getOrderTrackingCodesDeprecated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of Tracking Codes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXTrackingCode"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Order Tracking Code (deprecated)",
        "description": "Create a new tracking code for an order.",
        "operationId": "postTrackingCodeDeprecated",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXTrackingCodeRequestBody",
            "in": "body",
            "description": "The tracking code to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXTrackingCodeRequestBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the newly created tracking code.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXTrackingCode"
              }
            }
          },
          "400": {
            "description": "(Missing data)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/tracking_codes": {
      "get": {
        "tags": [
          "orders"
        ],
        "summary": "Get Order Tracking Codes (Multiple)",
        "description": "Get an array of all tracking code records of an order through the GET method.",
        "operationId": "getOrderTrackingCodes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns an array of Tracking Codes",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXTrackingCode"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Order Tracking Code",
        "description": "Create a new tracking code for an order. See <a href=\"/gambio-gx3-api/resources/gxtrackingcode\">GXTrackingCode</a> resource.",
        "operationId": "postTrackingCode",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXTrackingCode",
            "in": "body",
            "description": "The tracking code to be created.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXTrackingCodeRequestBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the newly created tracking code.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXTrackingCode"
              }
            }
          },
          "400": {
            "description": "(Missing data)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/status": {
      "patch": {
        "tags": [
          "orders"
        ],
        "summary": "Update Order Status",
        "description": "Use this method if you want to update the status of an existing order and create an order history entry. The status history entry must also contain extra information as shown in the JSON example.",
        "operationId": "updateOrderStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The orders ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrderStatusHistory",
            "in": "body",
            "description": "The order status",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderStatusHistory"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the updated order status",
            "schema": {
              "$ref": "#/definitions/GXOrderStatus"
            }
          },
          "400": {
            "description": "(Missing data or invalid ID)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/{order_id}/items/{item_id}/attributes": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Create Order Item Attribute",
        "description": "Use this method to create a new order item attribute to an existing order item. The order item attribute JSON object is the same as the one included in the full order representation. There are two different order item variation systems in the shop, the \"attributes\" and the \"properties\". Both of them define a variation of an order item (e.g. color, size etc). You must always use only one of them for a single order item.",
        "operationId": "createOrderTimeAttribute",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The order ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "GXOrderItemAttributes",
            "in": "body",
            "description": "The order item attributes",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GXOrderItemAttributes"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Upon success, returns the order item attributes",
            "schema": {
              "$ref": "#/definitions/GXOrderItemAttributes"
            }
          },
          "400": {
            "description": "(Order item attribute data missing)",
            "schema": {
              "$ref": "#/definitions/defaultErrorResponse"
            }
          }
        }
      }
    },
    "/orders/search": {
      "post": {
        "tags": [
          "orders"
        ],
        "summary": "Search Orders",
        "description": "Returns multiple orders that are respecting the given search condition. Further information about defining a search condition can be found in the <a href=\"/gambio-gx3-api/guides/search-example\">Search Example</a>.",
        "operationId": "searchOrders",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SearchCondition",
            "in": "body",
            "description": "The search condition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchCondition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upon success, returns the order list item resources",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GXOrderListItem"
              }
            }
          }
        }
      }
    },
    "/orders_history/{order_id}": {
      "get": {
        "tags": [
          "orders_history"
        ],
        "summary": "Get Order History (Single)",
        "description": "Get a single order history record through a GET request.",
        "operationId": "getOrdersHistory",
[...]
