#main {
	width:  90%;
	margin: 0 auto;
}

.ui-accordion-header-active {
	border:     1px solid #002337;
	background: #002337;
	color:      #FEC300;
}

#accordion p {
	height:   auto !important;
	overflow: auto !important;
}


.img-failure, .img-successful {
	margin:  auto;
	display: block;
}

.img-successful {
	width:  100%;
	height: auto;
}

.img-failure {
	width:   33%;
	height:  auto;
	display: block;
	float:   left;
}

.simple-lightbox {
	background: #002337;
}

.sl-close, .sl-next, .sl-prev, a {
	color: #FEC300 !important;
}

.download-notice {
	display: block;
	float:   left;
}

#hide-test-text-wrapper {
	display:    block;
	float:      right;
	text-align: right;
}

#hide-successful-tests {
	cursor: pointer;
}