@import "~bootstrap/scss/bootstrap";
@import "./fonts";
@import "./header";
@import "./footer";

body {
	position: relative;
	min-height: 100vh;
	font-size: 14px;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

main {
	padding-bottom: 60px;
	
	#scrollTop {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 25px;
		z-index: 10;
		background-color: #fdc300;
		color: #002337;
		cursor: pointer;
		padding: 10px 15px;
		border-radius: 50px;
		font-size: 18px;
	}
	
	@media (max-width: 800px) {
		#scrollTop {
			bottom: 120px;
		}
	}
	
	#redoc {
		mark {
			background-color: yellow;
			padding: 5px;
		}
		
		h3 {
			color: #002337;
			font-size: 18px;
			margin-top: 30px;
		}
		
		div[id^='section/'] {
			padding-top: 20px;
			padding-bottom: 20px;
			
			&[id="section/Authentication"] {
				h1 {
					border-top: solid 1px #d3d3d3;
					padding-top: 40px;
				}
			}
		}
		
		div[id^='tag/'] {
			padding-top: 20px;
			padding-bottom: 20px;
			
			&[id="tag/General-Information"], &[id="tag/Parcel-Services"] {
				h1 {
					border-top: solid 1px #d3d3d3;
					padding-top: 40px;
				}
			}
		}
		
		div[id="section/Authentication/bearerAuth"] {
			padding-bottom: 0;
		}
		
		.redoc-json code {
			color: #fff;
		}
		
		div[id^="operation"] > div > div:last-child {
			h3 {
				color: #002337;
				font-size: 18px;
				margin-top: 30px;
			}
			
			.react-tabs__tab-panel > div > div > span {
				color: #ffffff;
			}
		}
	}
}


@media (max-width: 768px) {
	main {
		padding-bottom: 120px;
	}
}