{
    "openapi": "3.0.0",
    "info": {
        "title": "Gambio REST API v3",
        "version": "",
        "description": "This documentation reference will provide you analytic guides on how the API works, which resources are available and the proper way to request them efficiently.\n\nWe follow a strict deprecation period for breaking changes to our endpoints, so that appropriate time is given to users to update their implementations accordingly.\n\nThank you for using the Gambio GX4 API!",
        "contact": {
            "name": "Gambio GmbH",
            "url": "https://www.gambio.de"
        }
    },
    "servers": [
        {
            "url": "https://www.gambio-shop.de/shop1"
        }
    ],
    "paths": {
        "$ref": "./paths/index.json"
    },
    "tags": [
        {
            "$ref": "./tags/generalInformation.yaml"
        },
        {
            "$ref": "./tags/currencies.yaml"
        },
        {
            "$ref": "./tags/customers.json"
        },
        {
            "$ref": "./tags/customerAddonValues.json"
        },
        {
            "$ref": "./tags/customerMemo.json"
        },
        {
            "$ref": "./tags/imageLists.yaml"
        },
        {
            "$ref": "./tags/options.yaml"
        },
        {
            "$ref": "./tags/parcelServices.json"
        },
        {
            "$ref": "./tags/productOptions.yaml"
        },
        {
            "$ref": "./tags/productVariants.yaml"
        },
        {
            "$ref": "./tags/shopConfig.json"
        },
        {
            "$ref": "./tags/trackingCodes.json"
        },
        {
            "$ref": "./tags/withdrawals.json"
        }
    ],
    "components": {
        "$ref": "./components/index.json"
    },
    "security": [
        {
            "basicAuth": []
        },
        {
            "bearerAuth": []
        }
    ]
}
