{
  "openapi": "3.0.0",
  "info": {
    "title": "API v3",
    "version": "",
    "description": "This documentation reference will provide you analytic guides on how the API works, which resources are available and the proper way to request them efficiently.\n\nWe follow a strict deprecation period for breaking changes to our endpoints, so that appropriate time is given to users to update their implementations accordingly.\n\nThank you for using the Gambio REST API!",
    "contact": {
      "name": "Gambio GmbH",
      "url": "https://www.gambio.de"
    }
  },
  "servers": [
    {
      "url": "https://www.gambio-shop.de/shop1"
    }
  ],
  "paths": {
    "/api.php/v3/withdrawals": {
      "get": {
        "summary": "Get all available withdrawals",
        "operationId": "get-withdrawals",
        "tags": [
          "Withdrawals"
        ],
        "description": "Returns a collection of withdrawals.",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-withdrawals"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of withdrawals.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/withdrawals-withdrawals"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/withdrawals-collectionMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new withdrawal",
        "operationId": "create-withdrawals",
        "tags": [
          "Withdrawals"
        ],
        "description": "Creates a single or multiple new withdrawals based on the request body.",
        "requestBody": {
          "description": "Withdrawals data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/withdrawals-withdrawalsData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Withdrawal successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/withdrawals-withdrawalIds"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/withdrawals-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "patch": {
        "summary": "Update sort order of an existing withdrawal",
        "operationId": "patch-withdrawals",
        "tags": [
          "Withdrawals"
        ],
        "description": "Updates the sort order(s) of a single or multiple withdrawals based on the request body.",
        "requestBody": {
          "description": "Withdrawals data to update sort orders.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/withdrawals-withdrawalPatches"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Withdrawals sort order successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/withdrawals/{id}": {
      "get": {
        "summary": "Get a specific withdrawal",
        "operationId": "get-withdrawal",
        "tags": [
          "Withdrawals"
        ],
        "description": "Returns a single withdrawal based in the provided ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of an existing withdrawal.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal data.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/withdrawals-withdrawal"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/withdrawals-documentMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/withdrawals/{ids}": {
      "delete": {
        "summary": "Delete multiple withdrawals",
        "operationId": "delete-withdrawals",
        "tags": [
          "Withdrawals"
        ],
        "description": "Deletes one or more withdrawals based on the provided IDs.",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "Withdrawal IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1,2,3"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Withdrawals successfully deleted."
          }
        }
      }
    },
    "/api.php/v3/parcel-services": {
      "get": {
        "summary": "Get all available parcel services",
        "operationId": "get-parcelServices",
        "tags": [
          "Parcel Services"
        ],
        "description": "Returns a collection of parcel services.",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-parcel-services"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of parcel services.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/parcelServices-parcelServices"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/parcelServices-collectionMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new parcel service",
        "operationId": "create-parcelServices",
        "tags": [
          "Parcel Services"
        ],
        "description": "Creates a single or multiple new parcel services based on the request body.",
        "requestBody": {
          "description": "Parcel services data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/parcelServices-parcelServicesData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Withdrawal successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/parcelServices-parcelServiceIds"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/parcelServices-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "put": {
        "summary": "Update an existing parcel service",
        "operationId": "update-parcelServices",
        "tags": [
          "Parcel Services"
        ],
        "description": "Updates a single or multiple parcel services based on the request body.",
        "requestBody": {
          "description": "Parcel services data for update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/parcelServices-parcelServicesData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Parcel services successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/parcel-services/{id}": {
      "get": {
        "summary": "Get a specific parcel service",
        "operationId": "get-parcelService",
        "tags": [
          "Parcel Services"
        ],
        "description": "Returns a single parcel service based in the provided ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of an existing parcel service.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Parcel service data.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/parcelServices-parcelService"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/parcelServices-documentMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/parcel-services/{ids}": {
      "delete": {
        "summary": "Delete multiple parcel services",
        "operationId": "delete-parcelServices",
        "tags": [
          "Parcel Services"
        ],
        "description": "Deletes one or more parcel services based on the provided IDs.",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "Parcel service IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1,2,3"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Parcel services successfully deleted."
          }
        }
      }
    },
    "/api.php/v3/tracking-codes": {
      "get": {
        "summary": "Get all available tracking codes",
        "operationId": "get-tracking codes",
        "tags": [
          "Tracking Codes"
        ],
        "description": "Returns a collection of tracking codes.",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-tracking-codes"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of tracking codes.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/trackingCodes-trackingCodes"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/trackingCodes-collectionMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new tracking code",
        "operationId": "create-tracking codes",
        "tags": [
          "Tracking Codes"
        ],
        "description": "Creates a single or multiple new tracking codes based on the request body. Parcel service information like name, comment, and so on must be determined manually but default values are defined for each parcel service and could, for example, be fetched via the dedicated REST API endpoint.",
        "requestBody": {
          "description": "Tracking Codes data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/trackingCodes-trackingCodesData"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tracking Code successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/trackingCodes-trackingCodeIds"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/trackingCodes-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/tracking-codes/{id}": {
      "get": {
        "summary": "Get a specific tracking code",
        "operationId": "get-tracking code",
        "tags": [
          "Tracking Codes"
        ],
        "description": "Returns a single tracking code based in the provided ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of an existing tracking code.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking Code data.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/trackingCodes-trackingCode"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/trackingCodes-documentMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/tracking-codes/{ids}": {
      "delete": {
        "summary": "Delete multiple tracking codes",
        "operationId": "delete-tracking codes",
        "tags": [
          "Tracking Codes"
        ],
        "description": "Deletes one or more tracking codes based on the provided IDs.",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "description": "Tracking Code IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1,2,3"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tracking Codes successfully deleted."
          }
        }
      }
    },
    "/api.php/v3/shop-config": {
      "get": {
        "summary": "Get current shop configuration",
        "operationId": "get-shop config",
        "tags": [
          "Shop Config"
        ],
        "description": "Returns the current shop configuration.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returns a collection of configuration values.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shopConfig-shopConfig"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api.php/v3/shop-config/{key}": {
      "get": {
        "summary": "Get a specific value of the current shop configuration",
        "operationId": "get-shop config key",
        "tags": [
          "Shop Config"
        ],
        "description": "Returns a single value of the current shop configuration.",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "key of a config element",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "DEFAULT_CURRENCY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of configuration values.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shopConfig-shopConfigElementValue"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/options": {
      "get": {
        "summary": "Get all available options",
        "operationId": "get-options",
        "tags": [
          "Options"
        ],
        "description": "Returns a collection of options.",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-options"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of options.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/options-options"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/options-collectionMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new option",
        "operationId": "create-option",
        "tags": [
          "Options"
        ],
        "description": "Creates a single or multiple new option based on the request body.\\n\\n**NOTE**: all the languages, in the \\\"details\\\" array, are required.",
        "requestBody": {
          "description": "Option data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/options-options-creation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Option successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/options-optionIds"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/options-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "patch": {
        "summary": "Update the sort order of an existing option",
        "operationId": "patch-options",
        "tags": [
          "Options"
        ],
        "description": "Updates the sort order of a single or multiple options based on the request body.",
        "requestBody": {
          "description": "Options data for updating sort orders.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/options-optionPatches"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Options sort orders successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "put": {
        "summary": "Update an existing option",
        "operationId": "update-option",
        "tags": [
          "Options"
        ],
        "description": "Updates a single or multiple options based on the request body.\n\n**NOTE**: all the languages, in the \"details\" array, are required.",
        "requestBody": {
          "description": "Options data for update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/options-options-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Option successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/options/{optionId}": {
      "get": {
        "summary": "Get a specific option",
        "operationId": "get-options-by-id",
        "tags": [
          "Options"
        ],
        "description": "Returns a single option based in the provided ID.",
        "parameters": [
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of an existing option.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a specific option.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/options-option"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/options-documentMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/options/{optionIds}": {
      "delete": {
        "summary": "Delete multiple options",
        "operationId": "delete-options",
        "tags": [
          "Options"
        ],
        "description": "Deletes one or more options based on the provided IDs.",
        "parameters": [
          {
            "name": "optionIds",
            "in": "path",
            "description": "Option IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1,2,3"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Options successfully deleted."
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          }
        }
      }
    },
    "/api.php/v3/options/{optionId}/values": {
      "get": {
        "summary": "Get all available option values for a given option",
        "operationId": "get-options-values",
        "tags": [
          "Options"
        ],
        "description": "Returns a collection of option values for a given option.",
        "parameters": [
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of an existing option.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of option values.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/options-option-values"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/options-collectionMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      },
      "post": {
        "summary": "Create a new option value",
        "operationId": "create-option-values",
        "tags": [
          "Options"
        ],
        "parameters": [
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of an existing option.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "description": "Creates a single or multiple new option values based on the request body.",
        "requestBody": {
          "description": "Option values data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/options-option-values-create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Option values successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/options-optionValueIds"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/options-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "put": {
        "summary": "Update an existing option value",
        "operationId": "update-option-values",
        "tags": [
          "Options"
        ],
        "parameters": [
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of an existing option.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "description": "Updates a single or multiple option values based on the request body.",
        "requestBody": {
          "description": "Option values data for update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/options-option-values-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Option values successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "patch": {
        "summary": "Update sort order of an existing option value",
        "operationId": "patch-options-values",
        "tags": [
          "Options"
        ],
        "parameters": [
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of an existing option.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "description": "Updates the sort order(s) of a single or multiple option values based on the request body.",
        "requestBody": {
          "description": "Option values data to update sort orders.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/options-optionPatches"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Option values sort order successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/options/{optionId}/values/{optionValueIds}": {
      "delete": {
        "summary": "Delete multiple option values",
        "operationId": "delete-option-values",
        "tags": [
          "Options"
        ],
        "description": "Deletes one or more option values based on the provided IDs.",
        "parameters": [
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of an existing option.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "optionValueIds",
            "in": "path",
            "description": "Option value IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1,2,3"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Option values successfully deleted."
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          }
        }
      }
    },
    "/api.php/v3/options/{optionId}/values/{optionValueId}/image/{relativePath}": {
      "post": {
        "summary": "Upload and add an image to an existing option value",
        "operationId": "upload-option-value-image",
        "tags": [
          "Options"
        ],
        "description": "Adds a new image to an existing option value.",
        "parameters": [
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of an existing option.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "optionValueId",
            "in": "path",
            "description": "ID of an existing option value.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "relativePath",
            "in": "path",
            "description": "Relative path of the option value image.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "subdirectory/image.jpg"
            }
          }
        ],
        "requestBody": {
          "description": "option value image for addition.",
          "required": true,
          "content": {
            "image/png": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/gif": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/jpg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "option value image successfully added.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/variants": {
      "get": {
        "summary": "Get all available product variants",
        "operationId": "get-product-variants",
        "tags": [
          "Product Variants"
        ],
        "description": "Returns a collection of product variants.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-product-variants"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of product variants.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productVariants-variants"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productVariants-collectionMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new product variant",
        "operationId": "create-product-variant",
        "tags": [
          "Product Variants"
        ],
        "description": "Creates a single or multiple new product variants based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Product variants data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productVariants-variants-creation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product variants successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productVariants-variants-created"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productVariants-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "put": {
        "summary": "Update an existing product variant",
        "operationId": "update-product-variant",
        "tags": [
          "Product Variants"
        ],
        "description": "Updates a single or multiple product variants based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Product variants data for update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productVariants-variants-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Product variants successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "patch": {
        "summary": "Updates a part of an existing product variant",
        "operationId": "patch-product-variants",
        "tags": [
          "Product Variants"
        ],
        "description": "Updates a part of a single or multiple product variants based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Product variants data with patches.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productVariants-patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Product variants successfully patched.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "delete": {
        "summary": "Delete all product variants",
        "operationId": "delete-all-product-variants",
        "tags": [
          "Product Variants"
        ],
        "description": "Deletes all product variants.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "All product variants successfully deleted."
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/variants/{variantId}": {
      "get": {
        "summary": "Get a specific product variant",
        "operationId": "get-product-variant-by-id",
        "tags": [
          "Product Variants"
        ],
        "description": "Returns a single product variant based in the provided ID.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "variantId",
            "in": "path",
            "description": "ID of a product variant.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "int",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a specific product variant.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productVariants-variant"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productVariants-documentMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/variants/{variantIds}": {
      "delete": {
        "summary": "Delete multiple product variants",
        "operationId": "delete-product-variants",
        "tags": [
          "Product Variants"
        ],
        "description": "Deletes one or more product variants based on the provided IDs.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "ids",
            "in": "path",
            "description": "Product variant IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "int",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product variants successfully deleted."
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/variants/_generate": {
      "post": {
        "summary": "Generate new product variants",
        "operationId": "generate-product-variant",
        "tags": [
          "Product Variants"
        ],
        "description": "Generates a single or multiple product variants based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Optional query parameter to limit how many product variants can be generated per request.",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "example": 100,
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Optional query parameter offset is used to specify which product variants should be processed.",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "example": 0,
              "default": 0
            }
          }
        ],
        "requestBody": {
          "description": "Option IDs and option value IDs for generation of product variant combinations.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productVariants-generation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product variants successfully generated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productVariants-variants-created"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productVariants-creationMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/variants/_add-options": {
      "post": {
        "summary": "Add new options to the existing product variant combinations",
        "operationId": "add-options",
        "tags": [
          "Product Variants"
        ],
        "description": "Adds a single or multiple options (with option values) to the existing product variant combinations based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Option IDs and option value IDs for adding them to the existing product variant combinations.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productVariants-optionValues"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Options successfully added to the product variants combinations.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productVariants-variants-created"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productVariants-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/variants/_remove-options": {
      "post": {
        "summary": "Remove options from the existing product variant combinations",
        "operationId": "remove-options",
        "tags": [
          "Product Variants"
        ],
        "description": "Removes a single or multiple options from the existing product variants based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Option IDs that should be removed, as well as their option value IDs that are used to determine which combinations should be kept.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productVariants-option-ids-option-value-ids"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Options successfully removed from product variants.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/options": {
      "get": {
        "summary": "Get all available product options",
        "operationId": "get-product-options",
        "tags": [
          "Product Options"
        ],
        "description": "Returns a collection of product options.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-product-options"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of product variants.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productOptions-productOptions"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productOptions-collectionMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new product option",
        "operationId": "create-product-option",
        "tags": [
          "Product Options"
        ],
        "description": "Creates a single or multiple new product options based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Product options data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productOptions-productOptionsCreation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product options successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productOptions-OptionsCreated"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productVariants-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "put": {
        "summary": "Update an existing product option",
        "operationId": "update-product-option",
        "tags": [
          "Product Options"
        ],
        "description": "Updates a single or multiple product options based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Product options data for update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productOptions-productOptions"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Option options successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "patch": {
        "summary": "Update a part of an existing product option",
        "operationId": "patch-product-options",
        "tags": [
          "Product Options"
        ],
        "description": "Updates a part of a single or multiple product options based on the request body.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Product options data with patches.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productOptions-Patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Product options successfully patched.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "delete": {
        "summary": "Delete all product options",
        "operationId": "delete-all-product-options",
        "tags": [
          "Product Options"
        ],
        "description": "Deletes all product options.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "All product options successfully deleted."
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/options/{optionId}": {
      "get": {
        "summary": "Get a specific product option",
        "operationId": "get-product-option-by-id",
        "tags": [
          "Product Options"
        ],
        "description": "Returns a single product option based in the provided ID.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "optionId",
            "in": "path",
            "description": "ID of a product variant.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a specific product option.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/productOptions-productOption"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/productOptions-documentMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/products/{productId}/options/{optionIds}": {
      "delete": {
        "summary": "Delete multiple product options",
        "operationId": "delete-product-options",
        "tags": [
          "Product Options"
        ],
        "description": "Deletes one or more product options based on the provided IDs.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "ID of a product.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "name": "ids",
            "in": "path",
            "description": "Product variant IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1,2,3,4,5"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product options successfully deleted."
          }
        }
      }
    },
    "/api.php/v3/image-lists": {
      "get": {
        "summary": "Get all available image lists",
        "operationId": "get-image-lists",
        "tags": [
          "ImageLists"
        ],
        "description": "Returns a collection of image lists.",
        "parameters": [
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-image-list"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of image lists.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/imageLists-imageLists"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/imageLists-collectionMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new image list",
        "operationId": "create-image-list",
        "tags": [
          "ImageLists"
        ],
        "description": "Creates a single or multiple new image lists based on the request body.",
        "requestBody": {
          "description": "Image lists data for creation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/imagelists-imagelists-creation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Image lists successfully created.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/imagelists-imagelistIds"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/imageLists-creationMetaData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "put": {
        "summary": "Update an existing image list",
        "operationId": "update-image-list",
        "tags": [
          "ImageLists"
        ],
        "description": "Updates a single or multiple image lists based on the request body.",
        "requestBody": {
          "description": "Image list data for update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/image-list-update"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Image lists successfully updated.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      }
    },
    "/api.php/v3/image-lists/{imageListId}": {
      "get": {
        "summary": "Get a specific image list",
        "operationId": "get-image-list-by-id",
        "tags": [
          "ImageLists"
        ],
        "description": "Returns a single image list based in the provided ID.",
        "parameters": [
          {
            "name": "imageListId",
            "in": "path",
            "description": "ID of an existing image list.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a specific image list.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/imageLists-imageList"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/imageLists-documentMetaData"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          }
        }
      }
    },
    "/api.php/v3/image-lists/{imageListIds}": {
      "delete": {
        "summary": "Delete multiple image lists",
        "operationId": "delete-image-lists",
        "tags": [
          "ImageLists"
        ],
        "description": "Deletes one or more image lists based on the provided IDs.",
        "parameters": [
          {
            "name": "imageListIds",
            "in": "path",
            "description": "Image list IDs represented as a comma separated list.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1,2,3"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Image lists successfully deleted."
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          }
        }
      }
    },
    "/api.php/v3/image-lists/{imageListId}/images": {
      "get": {
        "summary": "Get all available image list images",
        "operationId": "get-image-lists-images",
        "tags": [
          "ImageLists"
        ],
        "description": "Returns a collection of image lists.",
        "parameters": [
          {
            "name": "imageListId",
            "in": "path",
            "description": "ID of an existing image list.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          },
          {
            "$ref": "#/components/parameters/query-fields"
          },
          {
            "$ref": "#/components/parameters/query-filter-image-list-images"
          },
          {
            "$ref": "#/components/parameters/query-page"
          },
          {
            "$ref": "#/components/parameters/query-perPage"
          },
          {
            "$ref": "#/components/parameters/query-sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a collection of image lists.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/imageLists-imageListImages"
                    },
                    "_meta": {
                      "$ref": "#/components/schemas/imageLists-documentMetaData"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add an already uploaded image to an existing image list",
        "operationId": "add-existing-image-image-list",
        "tags": [
          "ImageLists"
        ],
        "description": "Adds a single or multiple existing images to an image lists based on the request body.",
        "parameters": [
          {
            "name": "imageListId",
            "in": "path",
            "description": "ID of an existing image list.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Image list images data for update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/image-list-update-image"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Image list images successfully added.",
            "headers": {
              "X-Shop-Version": {
                "$ref": "#/components/headers/shopVersion"
              },
              "X-API-Version": {
                "$ref": "#/components/headers/apiVersion"
              },
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/rateLimitLimit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/rateLimitRemaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/rateLimitReset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/missingAttribute"
          },
          "409": {
            "$ref": "#/components/responses/conflictByDataOrAction"
          },
          "422": {
            "$ref": "#/components/responses/invalidData"
          }
        }
      },
      "patch": {
        "summary": "Update sort order of an existing image list images",
        "operationId": "patch-image-list-image",
        "tags": [
          "ImageLists"
        ],
        "description": "Updates the sort order(s) of a single or multiple image list images based on the request body.",
        "parameters": [
          {
            "name": "imageListId",
            "in": "path",
            "description": "ID of an existing image list.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "example": 1,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "Image list images data to update sort orders.",
          "content": {
            "application/json": {
              "schema": {
[...]
