[: template "fragments/reference/version_header" (ext . "TitleSuffix" "resource" ) :]

[: overlay "banner" . :]
[: overlay "description" . :]

<h2 class="sub-header">Methods</h2>

[: overlay "methods" . :]

<ul class="">
  [: range .Resource.Methods :]
    <li><a href="[: $.SpecPath :]/reference/[: .APIGroup.ID :]/[: .ID :]">[: .Method :]</a> - [: .Name :]</li>
  [: end :]
</ul>

<h2 class="sub-header">Properties</h2>
[: if .Resource.Example :]
  <ul class="nav nav-tabs" >
    <li class="active">
      <a data-toggle="tab" href="#payloadSchema">Schema</a>
    </li>
    <li>
      <a data-toggle="tab" href="#payloadExample">Example</a>
    </li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="payloadSchema">
      <pre><code>[: .Resource.Schema :]</code></pre>
    </div>
    <div class="tab-pane" id="payloadExample">
      <pre><code>[: .Resource.Example :]</code></pre>
    </div>
  </div>
[: else :]
  <pre><code>[: .Resource.Schema :]</code></pre>
[: end :]

[: overlay "properties" . :]
[: template "fragments/reference/resource_table" . :]



[: overlay "additional" . :]
